.sportanceSignup{
  text-align: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: #35456D;
    height: 100vh;
    
}
.sportanceSignup img{
    width: 400px;
    height: 80px;
}
.sigupForm{
    box-shadow: 5px 10px 15px #888888;
    position: relative;
    top: 281px;
    border-radius: 10px;
    margin: 0px 571px;
}
.field-signUp input{
    height: 50px;
    width: 358px;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 15px;
    border-radius: 7px;
    
    text-align: center;
    background-color: #F7D23C;
}
.btnSignUp{
    width: 357px;
    height: 42px;
    margin-top: 10px;
    font-size: 15px;
    border: none;
    color: #F7D23C;
    background: #17254E;
}
.titleSignUp{
    font-size: 68px;
      margin-top: 90px;
      margin-bottom: -194px;
      padding-bottom: -12px;
      color: #F7D23C;
}
.field-signUp{
    display: flex;
}
.icon-signUp{
  position: relative;
  top: 16px;
  left: 29px;
}