.logIn{
    text-align: center;
      box-sizing: border-box;
      padding: 10px;
      background-color: #35456D;
      height: 100vh;
      
  }
  .logInForm{
      box-shadow: 5px 10px 15px #888888;
      position: relative;
      top: 281px;
      border-radius: 10px;
      height: 176px;
      width: 374px;
      margin: auto;
  }
  .logIn img{
    width: 648px;
    height: 141px;

}
  .field-logIn{
      display: flex;
  }
  .icon-logIn{
    position: relative;
    top: 16px;
    left: 29px;
  }
  .field-logIn input{
    height: 52px;
    width: 341px;
      border: none;
      border-bottom: 2px solid gray;
      font-size: 15px;
      border-radius: 7px;
      margin: auto;
      text-align: center;
      background-color: #F7D23C;
  }
  .btnLogIn{
    position: relative;
    left: 10px;
    width: 336px;
    border-radius: 8px;
    height: 43px;
      margin-top: 10px;
      font-size: 15px;
      border: none;
      color: #F7D23C;
      background: #17254E;
  }
  .titleLogIn{
      font-size: 68px;
      margin-top: 90px;
      margin-bottom: -194px;
      padding-bottom: -12px;
      color: #F7D23C;
  }