.navigation{
    background-color: #F7D23C;;
    display: flex;
    justify-content: space-between;
    height: 80px;
    text-align: center;
    color: white;
}
ul{
    display: flex;

}
ul li{
    margin: 30px 25px;
    list-style: none;
    border-radius: 8px;
  background-color: #35456D;
  padding: 10px;
}

