.navigation-create{
    background-color:#0D1424;
    display: flex;
    justify-content: space-between;
    height: 80px;
    text-align: center;
    color: white;
}
.welcome-create{
    color:#F7D23C;
    font-size: 36px;
    margin: 25px auto;
    padding-left:  107px;;
}
.navigation-create ul{
    display: flex;

}
.navigation-create ul li{
    margin: 21px 10px;
    list-style: none;
    border-radius: 8px;
  background-color: #35456D;
  color: #F7D23C;
  padding: 10px;
}
.logo-create{
    width: 133px;
    height: 47px;
    margin: 16px;

}

@media all and (max-width: 600px) {
    .logo-create {
        width: 79px;
    }
    .navigation-create {
        height: 63px;

    }
    .navigation-create ul li {
        height: 31px;
        margin: 23px 8px;
        list-style: none;
        border-radius: 3px;
        background-color: #35456D;
        color: #F7D23C;
        padding: 2px;
        font-size: 12px;
    }
    .welcome-create {
        color: #F7D23C;
        font-size: 11px;
        margin: 21px auto;
        padding-left: 46px;
    }
}
