.signupButton{
    background-color: #F7D23C;
   
    width: 277px;
    padding: 13px;
    border-radius: 8px;
    position: relative;
    left: -123px;
    color: #35456D;
    font-size: 17px;
    text-decoration: none;
}

