
.createPost{
    text-align: center;
}


.create{
    
    margin: 120px 180px;
    
    
    width: auto;
    box-sizing: border-box;
   background-color: #F7D23C;
    outline: none;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 10px 11px 14px grey;
}
.field-create{
    margin: 25px;
    display: flex;
    flex-direction: column;
}
.field-create{
    display: flex;
}
.input input{
    width: 283px;
    height: 34px;
    background-color: #35456D;
    color: white;

}
.legend{
    font-size: 28px;
    font-style: italic;
    font-stretch: narrower;
    font-weight: bold;
    color:#35456D;
}
.input textarea{
    margin: 0px;
    width: 423px;
    height: 94px;
    background-color: #35456D;
    color: white;

}
.input select{
    width: 183px;
    height: 24px;
    background-color: #35456D;
    color: white;
}
.error{
    background-color: red;
}
.button-submit{
    width: 100px;
    padding: 6px;
    margin: 15px;
    border-radius: 7px;
    border: none;
    background-color:slateblue;
    color: white;
}
.label{
    font-size: 29px;
    font-style: italic;
    font-stretch: narrower;
    color: royalblue;
}